@{
    ViewData["Title"] = "Home Page";
}
@model List<Movie.Models.Movie.Movies>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">

                        <!-- ***** Banner Start ***** -->
                        
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="main-banner set-bg" data-setbg="https://vcdn-giaitri.vnecdn.net/2023/03/27/John-Wick-4-7670-1679899900.png?w=0&h=0&q=100&dpr=1&fit=crop&s=PT_qCnL-eoA9P3Nr0xuFMg">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="header-text">
                                        <h6>New movies</h6>
                                        <h4><em>JOHN WICK 4</em> Super HOT   in MARCH</h4>
                                        <div class="main-button">
                                            <a href="browse.html">Browse Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
                        <!-- ***** Banner End ***** -->
                        <!-- ***** Most Popular Start ***** -->
                        <div class="most-popular">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="heading-section">
                                        <h4><em>Most Popular</em> Right Now</h4>
                                    </div>
                                    <div class="row">
                                @foreach(var item in Model)
                                    {
                                    <div class="col-lg-3 col-sm-6">
                                                    <div class="item">
                                                        <img width="20" src="~/images/movies/@item.Image" alt="">
                                                    <h4><a href="">@item.Title</a></h4>
                                                        <div class="sub-title">
                                                        <p>Sandbox</p>
                                                        <p><i class="fa fa-star text-danger"></i> 4.8</p>
                                                        </div>
                                                    </div>
                                        </div>
                                    }   
                                        <div class="col-lg-12">
                                            <div class="main-button">
                                                <a href="browse.html">Discover Popular</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ***** Most Popular End ***** -->
                        <!-- ***** Gaming Library Start ***** -->
                        <div class="gaming-library">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4><em>Your Gaming</em> Library</h4>
                                </div>
                                <div class="item">
                                    <ul>
                                        <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>Dota 2</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>24/08/2036</span></li>
                                        <li><h4>Hours Played</h4><span>634 H 22 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul>
                                        <li><img src="assets/images/game-02.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>Fortnite</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>22/06/2036</span></li>
                                        <li><h4>Hours Played</h4><span>740 H 52 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button"><a href="#">Donwload</a></div></li>
                                    </ul>
                                </div>
                                <div class="item last-item">
                                    <ul>
                                        <li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>CS-GO</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>21/04/2036</span></li>
                                        <li><h4>Hours Played</h4><span>892 H 14 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="profile.html">View Your Library</a>
                                </div>
                            </div>
                        </div>
                        <!-- ***** Gaming Library End ***** -->
                    </div>
                </div>
            </div>