@{
    ViewData["Title"] = "Create movie";
}
@model Movie.Models.Movie.MovieViewModel
<div class="container-fluid">
    <div class="col-lg d-flex align-items-strech">
        <div class="card w-100">
            <div class="card-body">
                <div class="align-items-center justify-content-between">
                    <form asp-controller="Movie" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="border-3 mt-4">
                            <div class="row pb-2">
                                <h2 class="text-primary">Add Movie</h2>
                                <hr />
                            </div>
                            <div class="mb-3"> 
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="CastId">Cast</label>
                                <select class="form-select" asp-for="CastId" asp-items="@Model.MovieCaster" >
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Title">Genre</label>
                                <select class="form-select" asp-for="GenreId" asp-items="@Model.MovieGenre">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Title">Company</label>
                                <select class="form-select" asp-for="CompanyId" asp-items="@Model.MovieCompany">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ReleaseDate">Release Date</label>
                                <input type="datetime-local" asp-for="ReleaseDate" class="form-control" />
                                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Image">Image</label>
                                <input multiple id="file-input" type="file" asp-for="Image" class="form-control" />
                                <img id="img-preview" hidden class="hidden" width="100" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Movie_Status">Status</label>
                                <select asp-for="Movie_Status" class="form-select">
                                    <option value="Showing">Showing</option>
                                    <option value="Stop">Stop</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Overview">Overview</label>
                                <textarea asp-for="Overview" id="mytextarea">Hello, World!</textarea>
                            </div>
                            <!--<div class="mb-3">
                                <label asp-for="Image">Image</label>
                                <input type="file" asp-for="Image" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Image">Image</label>
                                <input type="file" asp-for="Image" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>-->

                            <div class="mb-3">
                                <input value="Add" type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@* script của upload *@
<script>
    const input = document.getElementById('file-input');
    const image = document.getElementById('img-preview');

    input.addEventListener('change', (e) => {
        if (e.target.files.length) {
            const src = URL.createObjectURL(e.target.files[0]);
            image.src = src;
            image.hidden = false;
        }
    });
</script>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

